<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my gym</title>
    <style>
        header{
            background-color: aqua;
            color: blue;
            text-align: center;
            font-size: 30px;
            padding:10px;
        }
        footer{
             background-color: aqua;
            color: blue;
            text-align:center;
            font-size: 20px;
            padding:10px;
        }
    </style>
</head>
<body>
    <header>
    {%block head%}
    {%endblock%}
    </header>
    {%block content%}
    {%endblock%}
    <footer>
        <p>
            thanks for visitng our site , please rate us on google!!
        </p>
    </footer>
</body>
</html>